*{
  margin:0;
  padding:0;
  color:#333;
}
html{
  font-size:62.5%;
}
body{
  font-size:16px;
  line-height:1.6;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration:underline;
}
h1{
}

/**
 * 関連記事
 */
 .recomend{
   width:100%;
 }
 .recomend ul{
   width:90%;
   margin:0 auto;
   padding:0;

 }
 .recomend li{
   display: inline-block;
   vertical-align: top;
   width:170px;
   margin-right:15px;
   list-style: none;
   padding: 10px;
   margin-bottom: 20px;
   font-size: 1.2rem;
   border:1px solid #ccc;
   word-break: break-word;
 }

 .recomend li span.disc{
   font-size:1.2rem;
 }
 .recomend li h2{
   font-size:1.5rem;
   font-weight: bold;
 }

 /* .recomend li:nth-child(3){
   margin-right:0;
 }
.recomend li p{

} */


p.imgP{
  width: 200px;
  height: 100px;
  overflow: hidden;
  position: relative;
}

 .imgP img{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 }
